body{
    background-color:slategray
    }
    
     h1{
    color:navy ;
    font-family: ;
    background:dimgray ;
    }
    
    :
    p{
    color:silver ;
    font-family: ;
    font-size: ;
    background:darkblue ;
    }
