body{
    background-color:slategray
    }
    
    Estilizar o título principal do seu site:
     h1{
    color:navy ;
    font-family: ;
    background:dimgray ;
    }
    
    Estilizar os parágrafos:
    p{
    color:silver ;
    font-family: ;
    font-size: ;
    background:black ;
    }
